section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid;
    border-radius: 10px;
    height: 200px;
    margin: 25px;
    color: white;
    background-color: rgb(17, 88, 65);

}
.star {
    color: gray;
    font-size: 24px;
    cursor: pointer;
  }
  .star.active {
    color: gold;
  }